body {
}

#mainleft
{
    margin-top: 100px;
    width: 33%;
    float: left;
    background: #fff;
    padding-bottom: 10px;
    text-align: center;
}

#maincenter
{
margin-top:100px;
width:34%;
float:left;
background:#fff;
padding-bottom:10px;
    text-align: center;
}

#mainright
{
margin-top:100px;
width:33%;
float:left;
background:#fff;
padding-bottom:10px;
    text-align: center;
}
