body {
}
#header
{
    background-color: #5F7F56;
    height: 100px;
    width: 800px;
    margin-bottom: 7px;
}
#header span
{
        display:none;
}

#headerlogo
{
    background: transparent url(/images/StartupRiver_cutout3.jpg) no-repeat scroll left top;
    height: 68px;
    width: 511px;
    position: absolute;
    top: 39px;
    left: 144px;
}

.dynamic
{
    margin:3px 3px 3px 3px;
    padding: 2px 2px 2px 2px;
    height: 240px;
    width: 130px;
    position:absolute;
}

.static
{
    height: 250px;
    width: 250px;
    position:absolute;
}

#people .static
{
    top: 120px;
    left: 150px;
    background-image: url(/images/srl_ul.jpg);
}
#people .dynamic
{
    top: 120px;
}

#ideas .static
{
    top: 120px;
    left: 400px;
    background-image: url(/images/srl_ur.jpg);
}
#ideas .dynamic
{
    top: 120px;
    left: 660px;
}

#collaborate .static
{
    top: 370px;
    left: 400px;
    background-image: url(/images/srl_lr.jpg);
}
#collaborate .dynamic
{
    top: 370px;
    left: 660px;
}

#profit .static
{
    top: 370px;
    left: 150px;
    background-image: url(/images/srl_ll.jpg);
}

#profit .dynamic
{
    top: 370px;
    left: 0px;
}

.unlit
{
    background-color:Silver;
}
#ideas .highlighted
{
    background-color: #EA798B;
}
#people .highlighted
{
    background-color: #DEED20;
}
#collaborate .highlighted
{
    background-color: #FFD09F;
}
#profit .highlighted
{
    background-color: #23BD39;
}


